@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
	--background-color: #FFF;
	--text-color: #161616;
	--inverse-text-color: #FFF;
	--error-color: #F66;
	--divider-color: #CCC;
	--gradient-zero-color: #FF3CAC;
	--gradient-half-color: #562B7C;
	--gradient-full-color: #2B86C5;
	--form-background-color: #FFF;
	--shadow-color: #999;
	--footer-background-color: #f0f0f0;
	--footer-sub-color: #e0e0e0;
}

.swiper {
	width: 100%;
	border-radius: .8rem;
}

.swiper-button-prev, .swiper-button-next {
	background-color: white;
	opacity: 0.5;
	padding: 1.5rem .5rem;
	border-radius: 2rem;
	color: black !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
	font-size: 1.1rem !important;
	font-weight: 500 !important;
}

.swiper-pagination-bullet {
	background: var(--gradient-full-color) !important;
}

.toast-container {
	width: calc(100% - 4.8rem) !important;
	top: 1.6rem !important;
}

.st-toast {
	width: 100% !important;
	padding: 0.8rem !important;
	padding-left: 1.2rem !important;
	border-width: .4rem !important;
}

.st-toast.light {
	background-color: white !important;
}

.st-toast-title {
	font-size: 1.6rem !important;
}

.st-toast-description {
	font-size: 1.2rem !important;
	margin-top: 1rem !important;
}

.st-toast-icon {
	width: 2.4rem !important;
	height: 2.4rem !important;
}

.st-toast-close-btn > svg {
	width: 1.6rem !important;
	height: 1.6rem !important;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 100ms ease-in-out;
	color: var(--text-color);
	user-select: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	font-size: 10px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--background-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
	cursor: pointer;
	outline: none !important;
	border: .1rem solid var(--footer-sub-color);
	border-radius: .4rem;
	background: var(--footer-background-color);
}

input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
	font-size: 1.4rem;
}

input[type="checkbox"]:hover {
	border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
	background-color: var(--gradient-full-color);
	border-color: rgba(255, 255, 255, 0.3);
	color: white;
}

input[type="checkbox"]:checked::before {
	border-radius: .4rem;
	transform: scale(1) translate(-50%, -50%)
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #161616;
		--text-color: #FFF;
		--inverse-text-color: #161616;
		--divider-color: #363636;
		--form-background-color: #202020;
		--shadow-color: #101010;
		--footer-background-color: #333;
		--footer-sub-color: #202020;
	}
}

@media screen and (max-width: 319px) {
/* Mobile-XS Size */
	html {
		font-size: 10px;
	}
}

@media screen and (min-width: 320px) and (max-width: 374px) {
/* Mobile-S Size */
	html {
		font-size: 10px;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
/* Mobile-M Size */
	html {
		font-size: 10px;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
/* Mobile-L Size */
	html {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
/* Tablet Size */
	html {
		font-size: 12px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
/* Laptop Size */
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 1440px) {
/* Desktop Size */
	html {
		font-size: 14px;
	}
}
